apexpro==1.2.0
fastapi==0.115.12
uvicorn==0.34.0
httpx==0.28.1
pydantic==2.10.6
requests==2.32.3
web3==5.31.4
ecdsa==0.16.0
sympy==1.6
mpmath==1.0.0
eth-account==0.5.9
websockets==9.2
cryptography==44.0.1
pycryptodome==3.21.0
numpy==1.24.3
mnemonic==0.21